.nav-item {
    float:right;
    margin-left:10px;
}
.about{
    background-color:white;
    
   
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
      float:left;
    width: 20%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  .circular-chart.red .circle {
    stroke: #ff0000;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.2em;
    text-anchor: middle;
  }
  .text{
      font-size:3px;;
  }
  .text1{
      font-size:2.5px;
  }
  .about{
      clear:both;
  }
  .btn {
      margin: 5px;
  }
  .adjust{
      margin:3px;
  }
  .heading{
      height:500px;
      margin:100px;
  }
#text{
  font-family: 'Nanum Gothic', sans-serif;
}
.lead{
  font-family: 'Nanum Gothic', sans-serif;
}
h1{
  font-family: 'Nanum Gothic', sans-serif;
}
p{
  font-family: 'Nanum Gothic', sans-serif;
}
img{
  border-radius: 50%;
}


  